{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <h1>{{ block('title') }}</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <p class="text-center">
        <button class="btn btn-success">
            Modifier
        </button>
    </p>
    {{ form_end(form) }}
{% endblock %}
