<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
       aria-haspopup="true" aria-expanded="false">Vidéo</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="{{ path('app_video_create') }}">Ajouter</a>
        <a class="dropdown-item" href="{{ path('app_video_listvideo') }}">Liste</a>
    </div>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
       aria-haspopup="true" aria-expanded="false">Personnage</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="{{ path('app_character_create') }}">Ajouter</a>
        <a class="dropdown-item" href="{{ path('app_character_list') }}">Liste</a>
    </div>
</li>
