
<li class="nav-item">
    <a class="nav-link" href="{{ path('app_video_listvideobytype', {'name': 'Film'}) }}">Films</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ path('app_video_listvideobytype', {'name': 'Série'}) }}">Séries</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ path('app_contact_index') }}">Contact</a>
</li>